{
    "plugins": [
        "@emotion",
        [
            "module-resolver",
            {
                "root": ["./"],
                "alias": {
                    "Supervisor": "./src/apps/Supervisor",
                    "components": "./src/components",
                    "assets": "./src/assets",
                    "config": "./src/config"
                }
            }
        ]
    ]
}
