$primaryDark: #343a40;
$lightdark: #637282;
$deeplightdark: #7b96b3;
$deepdark: #292d30;
$fulldark: #111d2a;
$primarymain: #ff7b0c;
$lightmain: #ff9640;
$deeplightmain: #ffb273;
$deepmain: #bf7130;
$fullmain: #a64b00;
$error: #a30000;
$primarysecondary: #cccc5c;
$lightsecondary: #fcfc72;
$deeplightsecondary: #fdfdbe;
$deepsecondary: #c9c95b;
$fullsecondary: #7d7d5e;
