@import 'react-tooltip/dist/react-tooltip.css';

$borderRadius: 20px;
$borderWidth: 2px;
$margin: 10px;
$padding: 10px;
$controlFontSize: 16px;
$hintFontSize: 10px;
$controlHeight: 36px;
$controlWidth: 152px;
